CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y
CONFIG_XIP=y
CONFIG_PINCTRL=y
CONFIG_GPIO=y
CONFIG_SERIAL=y
CONFIG_DMA=y
CONFIG_SPI=y
CONFIG_CAN=y
CONFIG_PWM=y
CONFIG_ETHERCAT_HPMICRO=y
CONFIG_NOCACHE_MEMORY=y
CONFIG_FLASH=y
