# Copyright (c) 2026
# SPDX-License-Identifier: Apache-2.0

config SOC_SERIES_HPM5E00
	select RISCV
	select RISCV_PRIVILEGED
	select RISCV_HAS_PLIC
	select DYNAMIC_INTERRUPTS

config SOC_HPM5E31
	bool
	select ATOMIC_OPERATIONS_C
	select INCLUDE_RESET_VECTOR
	select RISCV_ISA_EXT_M
	select RISCV_ISA_EXT_A
	select RISCV_ISA_EXT_C
	select RISCV_ISA_EXT_ZICSR
	select RISCV_ISA_EXT_ZIFENCEI
	select RISCV_ISA_RV32I
	select CPU_HAS_DCACHE
	select CPU_HAS_ICACHE
	select RISCV_PMP if !MCUBOOT

if SOC_SERIES_HPM5E00

config SOC_ANDES_V5_PMA
	bool "Andes V5 Physical Memory Attribute (PMA)"
	default y
	select ARCH_HAS_NOCACHE_MEMORY_SUPPORT
	select HAS_HPMSDK_PMP

endif
